# Data Collection
Goal: Organize your data to streamline the next steps of your capstone

In [1]:
#load python packages
import os
import pandas as pd

In [5]:
df = pd.read_csv('Alternative_Schools.csv')
df.head(5)

,LEAID,NAME,CITY,STATE,MEMBER_alt,revised,hasReassignedSchools,altRatio_99,altRatio,altRatio_growth,...,pdiff_puptch,TEACH_FYSY_RATIO_reg,TEACH_FYSY_RATIO_alt,pdiff_TEACH_FYSY_RATIO,TEACH_ABSENT_RATIO_reg,TEACH_ABSENT_RATIO_alt,pdiff_TEACH_ABSENT_RATIO,gradRate_reg,gradRate_alt,ppdiff_gradRate
0,100390,BIRMINGHAM CITY,BIRMINGHAM,AL,20,False,False,0.005357,0.002079,-0.003279,...,NaN,0.103709,0.000000,-1.000000,0.068522,0.400000,4.837514,79.659940,NaN,NaN
1,101380,ETOWAH COUNTY,GADSDEN,AL,173,False,False,0.000000,0.036034,0.036034,...,2.501920,0.058720,0.000000,-1.000000,0.407369,0.000000,-1.000000,87.882852,17.0,-70.882852
2,101620,GADSDEN CITY,GADSDEN,AL,9,False,False,0.010977,0.003270,-0.007706,...,NaN,0.159057,NaN,NaN,0.511340,NaN,NaN,73.000000,NaN,NaN
3,102310,MARION COUNTY,HAMILTON,AL,4,False,False,0.002670,0.002119,-0.000551,...,-0.878292,0.040213,0.000000,-1.000000,0.150799,0.000000,-1.000000,77.000000,NaN,NaN
4,102370,MOBILE COUNTY,MOBILE,AL,205,False,False,0.005539,0.006816,0.001278,...,-0.883871,0.125812,0.117647,-0.064899,0.180154,0.235294,0.306075,83.275161,NaN,NaN

# Data Organization
Goal: Create a file structure and add your work to the GitHub repository you’ve created for this project.

In [4]:
os.mkdir('data')
os.mkdir('figures')
os.mkdir('models')

# Data Definition
Goal: Gain an understanding of your data features to inform the
next steps of your project.
■ Column names
■ Data types
■ Description of the columns
■ Counts and percents unique values
■ Ranges of values
- Hint: here are some useful questions to ask yourself during this process:
- Do your column names correspond to what those columns store?
- Check the data types of your columns. Are they sensible?
- Calculate summary statistics for each of your columns, such as mean, median, mode, standard deviation, range, and number of unique values. What does this tell you about your data? What do you now need to investigate?

In [7]:
list(df.columns)

['LEAID',
 'NAME',
 'CITY',
 'STATE',
 'MEMBER_alt',
 'revised',
 'hasReassignedSchools',
 'altRatio_99',
 'altRatio',
 'altRatio_growth',
 'pupMONEY_reg',
 'pupMONEY_alt',
 'pdiff_pupMONEY',
 'hasCounc_reg',
 'hasCounc_alt',
 'pdiff_hasCounc',
 'puptch_reg',
 'puptch_alt',
 'pdiff_puptch',
 'TEACH_FYSY_RATIO_reg',
 'TEACH_FYSY_RATIO_alt',
 'pdiff_TEACH_FYSY_RATIO',
 'TEACH_ABSENT_RATIO_reg',
 'TEACH_ABSENT_RATIO_alt',
 'pdiff_TEACH_ABSENT_RATIO',
 'gradRate_reg',
 'gradRate_alt',
 'ppdiff_gradRate']

In [8]:
df.dtypes

LEAID                         int64
NAME                         object
CITY                         object
STATE                        object
MEMBER_alt                    int64
revised                        bool
hasReassignedSchools           bool
altRatio_99                 float64
altRatio                    float64
altRatio_growth             float64
pupMONEY_reg                float64
pupMONEY_alt                float64
pdiff_pupMONEY              float64
hasCounc_reg                float64
hasCounc_alt                float64
pdiff_hasCounc              float64
puptch_reg                  float64
puptch_alt                  float64
pdiff_puptch                float64
TEACH_FYSY_RATIO_reg        float64
TEACH_FYSY_RATIO_alt        float64
pdiff_TEACH_FYSY_RATIO      float64
TEACH_ABSENT_RATIO_reg      float64
TEACH_ABSENT_RATIO_alt      float64
pdiff_TEACH_ABSENT_RATIO    float64
gradRate_reg                float64
gradRate_alt                float64
ppdiff_gradRate             float64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1923 entries, 0 to 1922
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LEAID                     1923 non-null   int64
 1   NAME                      1923 non-null   object
 2   CITY                      1923 non-null   object
 3   STATE                     1923 non-null   object
 4   MEMBER_alt                1923 non-null   int64
 5   revised                   1923 non-null   bool
 6   hasReassignedSchools      1923 non-null   bool
 7   altRatio_99               1890 non-null   float64
 8   altRatio                  1913 non-null   float64
 9   altRatio_growth           1890 non-null   float64
 10  pupMONEY_reg              1766 non-null   float64
 11  pupMONEY_alt              1807 non-null   float64
 12  pdiff_pupMONEY            1683 non-null   float64
 13  hasCounc_reg              1767 non-null   float64
 14  hasCounc_alt              1822 non-null   float64
 15  pdiff_hasCounc            1631 non-null   float64
 16  puptch_reg                1635 non-null   float64
 17  puptch_alt                1628 non-null   float64
 18  pdiff_puptch              1504 non-null   float64
 19  TEACH_FYSY_RATIO_reg      1749 non-null   float64
 20  TEACH_FYSY_RATIO_alt      1737 non-null   float64
 21  pdiff_TEACH_FYSY_RATIO    1536 non-null   float64
 22  TEACH_ABSENT_RATIO_reg    1749 non-null   float64
 23  TEACH_ABSENT_RATIO_alt    1737 non-null   float64
 24  pdiff_TEACH_ABSENT_RATIO  1510 non-null   float64
 25  gradRate_reg              1545 non-null   float64
 26  gradRate_alt              386 non-null    float64
 27  ppdiff_gradRate           370 non-null    float64
dtypes: bool(2), float64(21), int64(2), object(3)
memory usage: 394.5+ KB

In [10]:
unique_value = df.nunique()
print(unique_value)

LEAID                       1923
NAME                        1912
CITY                        1594
STATE                         42
MEMBER_alt                   565
revised                        2
hasReassignedSchools           2
altRatio_99                 1139
altRatio                    1821
altRatio_growth             1828
pupMONEY_reg                1766
pupMONEY_alt                1759
pdiff_pupMONEY              1638
hasCounc_reg                 100
hasCounc_alt                  41
pdiff_hasCounc               164
puptch_reg                  1633
puptch_alt                  1410
pdiff_puptch                1504
TEACH_FYSY_RATIO_reg        1559
TEACH_FYSY_RATIO_alt         527
pdiff_TEACH_FYSY_RATIO       776
TEACH_ABSENT_RATIO_reg      1547
TEACH_ABSENT_RATIO_alt       628
pdiff_TEACH_ABSENT_RATIO     981
gradRate_reg                 680
gradRate_alt                 116
ppdiff_gradRate              338
dtype: int64

In [11]:
unique_value / 1923 * 100

LEAID                       100.000000
NAME                         99.427977
CITY                         82.891316
STATE                         2.184087
MEMBER_alt                   29.381175
revised                       0.104004
hasReassignedSchools          0.104004
altRatio_99                  59.230369
altRatio                     94.695788
altRatio_growth              95.059802
pupMONEY_reg                 91.835673
pupMONEY_alt                 91.471659
pdiff_pupMONEY               85.179407
hasCounc_reg                  5.200208
hasCounc_alt                  2.132085
pdiff_hasCounc                8.528341
puptch_reg                   84.919397
puptch_alt                   73.322933
pdiff_puptch                 78.211128
TEACH_FYSY_RATIO_reg         81.071243
TEACH_FYSY_RATIO_alt         27.405096
pdiff_TEACH_FYSY_RATIO       40.353614
TEACH_ABSENT_RATIO_reg       80.447218
TEACH_ABSENT_RATIO_alt       32.657306
pdiff_TEACH_ABSENT_RATIO     51.014041
gradRate_reg                 35.361414
gradRate_alt                  6.032241
ppdiff_gradRate              17.576703
dtype: float64

In [12]:
df.agg([min, max]).T

                                  min                  max
LEAID                          100390              5605830
NAME                      ABC UNIFIED  ZUNI PUBLIC SCHOOLS
CITY                         ABERDEEN                 ZUNI
STATE                              AK                   WY
MEMBER_alt                          1                13306
revised                         False                 True
hasReassignedSchools            False                 True
altRatio_99                         0                    1
altRatio                   6.7254e-05                    1
altRatio_growth             -0.992968                    1
pupMONEY_reg                        0               191881
pupMONEY_alt                        0               629001
pdiff_pupMONEY                     -1              119.965
hasCounc_reg                        0                    1
hasCounc_alt                        0                    1
pdiff_hasCounc                     -1                    2
puptch_reg                    1.50722              2691.46
puptch_alt                   0.666667                 4400
pdiff_puptch                -0.963912              219.439
TEACH_FYSY_RATIO_reg                0             0.996255
TEACH_FYSY_RATIO_alt                0                    1
pdiff_TEACH_FYSY_RATIO             -1               73.578
TEACH_ABSENT_RATIO_reg              0             0.988701
TEACH_ABSENT_RATIO_alt              0                    1
pdiff_TEACH_ABSENT_RATIO           -1              83.2464
gradRate_reg                      2.5                 99.5
gradRate_alt                      2.5                 99.5
ppdiff_gradRate              -92.8785              20.7422

In [13]:
df.describe()

,LEAID,MEMBER_alt,altRatio_99,altRatio,altRatio_growth,pupMONEY_reg,pupMONEY_alt,pdiff_pupMONEY,hasCounc_reg,hasCounc_alt,...,pdiff_puptch,TEACH_FYSY_RATIO_reg,TEACH_FYSY_RATIO_alt,pdiff_TEACH_FYSY_RATIO,TEACH_ABSENT_RATIO_reg,TEACH_ABSENT_RATIO_alt,pdiff_TEACH_ABSENT_RATIO,gradRate_reg,gradRate_alt,ppdiff_gradRate
count,1.923000e+03,1923.000000,1890.000000,1913.000000,1890.000000,1766.000000,1807.000000,1683.000000,1767.000000,1822.000000,...,1504.000000,1749.000000,1737.000000,1536.000000,1749.000000,1737.000000,1510.000000,1545.000000,386.000000,370.000000
mean,2.691361e+06,228.447738,0.075854,0.106280,0.024651,5717.296355,10355.224109,1.206490,0.877582,0.475692,...,0.158181,0.113988,0.105662,0.159576,0.256959,0.222155,0.013114,89.228730,45.385493,-42.052829
std,1.742515e+06,566.715721,0.202352,0.220720,0.116006,8625.726568,25032.335559,5.472421,0.243535,0.456552,...,5.967395,0.084837,0.173979,3.368776,0.180679,0.254015,2.792020,8.332124,26.722218,24.214567
min,1.003900e+05,1.000000,0.000000,0.000067,-0.992968,0.000000,0.000000,-1.000000,0.000000,0.000000,...,-0.963912,0.000000,0.000000,-1.000000,0.000000,0.000000,-1.000000,2.500000,2.500000,-92.878523
25%,6.910515e+05,29.000000,0.000000,0.015845,-0.005122,3753.509148,4172.174095,-0.102080,0.875000,0.000000,...,-0.514629,0.056642,0.000000,-1.000000,0.129032,0.000000,-1.000000,86.000000,22.007812,-60.009001
50%,2.617160e+06,83.000000,0.016240,0.033238,0.007715,4413.923574,6620.253165,0.404191,1.000000,0.500000,...,-0.261605,0.099190,0.000000,-0.807211,0.239542,0.153846,-0.297950,92.000000,42.000000,-44.632054
75%,4.813080e+06,205.000000,0.046026,0.068220,0.031214,5645.574095,10273.060105,1.181835,1.000000,1.000000,...,0.009576,0.151774,0.157895,0.318510,0.344444,0.367347,0.310498,95.000000,67.000000,-24.046154
max,5.605830e+06,13306.000000,1.000000,1.000000,1.000000,191880.729937,629001.288947,119.965081,1.000000,1.000000,...,219.439210,0.996255,1.000000,73.577987,0.988701,1.000000,83.246400,99.500000,99.500000,20.742232

# Data Cleaning
○ Goal: Clean up the data in order to prepare it for the next steps of
your project.
     
■ NA or missing values
■ Duplicates
- Hint: don’t forget about the following awesome Python functions for data
cleaning, which make life a whole lot easier:
- loc[] - filter your data by label
- iloc[] - filter your data by indexes
- apply() - execute a function across an axis of a DataFrame
- drop() - drop columns from a DataFrame
- is_unique() - check if a column is a unique identifier
- Series methods, such as str.contains(), which can be used to check if
a certain substring occurs in a string of a Series, and str.extract(), which can be used to extract capture groups with a certain regex (or regular expression) pattern
- numPy methods like .where(), to clean columns. Recall that such methods have the structure: np.where(condition, then, else)
- DataFrame methods to check for null values, such as df.isnull().values.any()

In [14]:
nas=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                           percent
ppdiff_gradRate           0.807592
gradRate_alt              0.799272
pdiff_puptch              0.217889
pdiff_TEACH_ABSENT_RATIO  0.214769
pdiff_TEACH_FYSY_RATIO    0.201248
gradRate_reg              0.196568
puptch_alt                0.153406
pdiff_hasCounc            0.151846
puptch_reg                0.149766
pdiff_pupMONEY            0.124805
TEACH_ABSENT_RATIO_alt    0.096724
TEACH_FYSY_RATIO_alt      0.096724
TEACH_ABSENT_RATIO_reg    0.090484
TEACH_FYSY_RATIO_reg      0.090484
pupMONEY_reg              0.081643
hasCounc_reg              0.081123
pupMONEY_alt              0.060322
hasCounc_alt              0.052522
altRatio_growth           0.017161
altRatio_99               0.017161
altRatio                  0.005200

In [15]:
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [LEAID, NAME, CITY, STATE, MEMBER_alt, revised, hasReassignedSchools, altRatio_99, altRatio, altRatio_growth, pupMONEY_reg, pupMONEY_alt, pdiff_pupMONEY, hasCounc_reg, hasCounc_alt, pdiff_hasCounc, puptch_reg, puptch_alt, pdiff_puptch, TEACH_FYSY_RATIO_reg, TEACH_FYSY_RATIO_alt, pdiff_TEACH_FYSY_RATIO, TEACH_ABSENT_RATIO_reg, TEACH_ABSENT_RATIO_alt, pdiff_TEACH_ABSENT_RATIO, gradRate_reg, gradRate_alt, ppdiff_gradRate]
Index: []

[0 rows x 28 columns]

In [16]:
dfdrop = df.dropna(axis=0, thresh=21)
dfdrop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1626 entries, 0 to 1922
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LEAID                     1626 non-null   int64
 1   NAME                      1626 non-null   object
 2   CITY                      1626 non-null   object
 3   STATE                     1626 non-null   object
 4   MEMBER_alt                1626 non-null   int64
 5   revised                   1626 non-null   bool
 6   hasReassignedSchools      1626 non-null   bool
 7   altRatio_99               1623 non-null   float64
 8   altRatio                  1626 non-null   float64
 9   altRatio_growth           1623 non-null   float64
 10  pupMONEY_reg              1625 non-null   float64
 11  pupMONEY_alt              1619 non-null   float64
 12  pdiff_pupMONEY            1619 non-null   float64
 13  hasCounc_reg              1626 non-null   float64
 14  hasCounc_alt              1626 non-null   float64
 15  pdiff_hasCounc            1575 non-null   float64
 16  puptch_reg                1504 non-null   float64
 17  puptch_alt                1456 non-null   float64
 18  pdiff_puptch              1455 non-null   float64
 19  TEACH_FYSY_RATIO_reg      1623 non-null   float64
 20  TEACH_FYSY_RATIO_alt      1610 non-null   float64
 21  pdiff_TEACH_FYSY_RATIO    1533 non-null   float64
 22  TEACH_ABSENT_RATIO_reg    1623 non-null   float64
 23  TEACH_ABSENT_RATIO_alt    1610 non-null   float64
 24  pdiff_TEACH_ABSENT_RATIO  1510 non-null   float64
 25  gradRate_reg              1450 non-null   float64
 26  gradRate_alt              374 non-null    float64
 27  ppdiff_gradRate           364 non-null    float64
dtypes: bool(2), float64(21), int64(2), object(3)
memory usage: 346.2+ KB

In [17]:
nas=pd.DataFrame(dfdrop.isnull().sum().sort_values(ascending=False)/len(dfdrop),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                           percent
ppdiff_gradRate           0.776138
gradRate_alt              0.769988
gradRate_reg              0.108241
pdiff_puptch              0.105166
puptch_alt                0.104551
puptch_reg                0.075031
pdiff_TEACH_ABSENT_RATIO  0.071341
pdiff_TEACH_FYSY_RATIO    0.057196
pdiff_hasCounc            0.031365
TEACH_FYSY_RATIO_alt      0.009840
TEACH_ABSENT_RATIO_alt    0.009840
pdiff_pupMONEY            0.004305
pupMONEY_alt              0.004305
TEACH_FYSY_RATIO_reg      0.001845
TEACH_ABSENT_RATIO_reg    0.001845
altRatio_growth           0.001845
altRatio_99               0.001845
pupMONEY_reg              0.000615